body, .no-select {
    user-select: none;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

button {
    margin: 0.25em;
}

.clickable {
    cursor:pointer;
    user-select: none;
}

#inventory-table-container {
    width: 10%;
    float: left;
}

#goal-container {
    display: inline-block;
    margin-left: 2em;
}

#action-container {
    width: 30%;
    float: left;
}

#skills-container {
    width: 30%;
    float: left;
}

#toolbar {
    height: 3em;
}

.skill-outer, .skill-inner {
    height: 1.5em;
}

.skill-outer {
    background-color: grey;
    width: 10em;
}

.skill-inner {
    background-color: green;
    width: 0em;
}

#toolbar p{
    display: inline-block;
    margin: 0em 1em;
    text-decoration: underline;
}